  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'poppins', sans-serif;
  }

  body {
    color: #88a5bd;
    background: #0C1E2B;
  }

  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background:#051129;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
  }

  .logo {
    position: relative;
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    text-decoration: none;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
  }

  .navbar a {
    display: inline-block;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s*var(--i));
  }

  .navbar a:hover {
    color: #0091ff;
  }

  .home {
    position: relative;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    background: url(Desktop\pic.png)no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    padding: 70px 10% 0;

  }

  .home-content {
    max-width: 600px;
  }

  .home-content h3 {
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
  }

  .home-content h3:nth-of-type(2) {
    margin-bottom: 30px;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
  }

  .home-content h3 span {
    color: #0ef;
  }

  .home-content h1 {
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
  }

  .home-content p {
    font-size: 20px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
  }
  .home-sci a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #0ef;
  border-radius: 50%;
  font-size: 20px;
  color: #0ef;
  text-decoration: none;
  transition: 0.5s ease;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: calc(0.2s * var(--i));
  margin: 30px 15px 30px 0;
}
 .home-sci a:hover {
    background: #0ef;
    color: #081b29;
    box-shadow: 0 0 20px rgb(237, 14, 14);
  }

  .btn-box {
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40PX;
    font-size: 16PX;
    color: #0465f7;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #0ef,
      0 0 25px #0ef, 0 0 30px #0ef,
      0 0 50px #0ef;
  }

  .btn-box:hover {
    box-shadow: 0 0 5px cyan,
      0 0 25px cyan, 0 0 50px cyan,
      0 0 100px cyan, 0 0 200px cyan;
  }
  .about{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: center;
  gap: 1.5rem;
}

.about-img img{
  max-width: 350px;
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px;
}

.about-text h2{
  font-size: clamp(36px, 5vw, 60px);
}

.about-text h2 span{
  color: #0ef;
}

.about-text h4{
  font-size: 29px;
  font-weight: 600;
  margin: 15px 0 30px;
  color: #fff;
  line-height: 1.7;
}

.about-text p{
  color: aliceblue;
  font-size: 20px;
  line-height: 1.7;
  margin-bottom: 4rem;
}

 
  .sub-title{
    text-align: center;
    font-size: 60px;
    padding-bottom:25px;
  }
  .sub-title span{
    color: #0ef;
  }
  section{
    display: flex;
    flex-wrap: wrap;
  }
  .container{
    max-width: 600px;
    width: 100%;
    height: 500px;
    padding: 25px 50px;
    margin-left: auto;
    margin-right: auto;
  }
  .headings{
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-bottom: 25px;
  }
  .bar{
    font-size: 23px;
  }
  .tech-bars .bar{
    margin-top: 40px 0;
  }
  .tech-bars .bar:first-child{
    margin-top: 0;
  }
  .tech-bars .bar:last-child{
    margin-bottom: 0;
  }
  .tech-bars .bar .info{
    margin-bottom: 5px;
  }
  .tech-bars .bar .info span{
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
  }
  .tech-bars .bar .progress-line{
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 5px;
    background-color: #000000;
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
    transform: scaleX(0);
    transform-origin: left;
    
  }
  @keyframes animate {
    100%{
      transform: scaleX(1);
    }
  }
  .tech-bars .bar .progress-line span{
    position: absolute;
    height: 100%;
    border-radius: 10px;
    background-color: #0ef;
    animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
    transform-origin: left;
    transform: scaleX(0);
  }
  .progress-line.html span{
    width: 90%;
  }
  .progress-line.css span{
    width: 80%;
  }
  .progress-line.javascript span{
    width: 55%;
  }
  .progress-line.react span{
    width: 60%;
  }
  .progress-line.java span{
    width: 40%;
  }
  .progress-line span::after{
    position: absolute;
    padding: 1px 4px;
    background-color: #27292a;
    color: #fff;
    font-size: 12px;
    border-radius: 3px;
    top: -10px;
    right: -20px;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
  }
  .progress-line.html span::after{
    content: "90%";
  }
  .progress-line.css span::after{
    content: "80%";
  }
  .progress-line.javascript span::after{
    content: "55%";
  }
  .progress-line.react span::after{
    content: "60%";
  }
  .progress-line.java span::after{
    content: "40%";
  }
  .progress-line span::before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-bottom-width: 0px;
    border-top-color: #1befef;
    top: -10px;
    right: 0px;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
  }
  .main-text{
  padding-top:130px;
  margin-top: 50px;
}

.main-text h2{
  font-size: 60px;
  line-height: 1;
  text-align: center;
}

.main-text h2 span{
  color: #0ef;
}

.portfolio-content{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(359px, 1fr));
  gap: 20px;
}

.row{
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  cursor: pointer;
}

.row img{
  width: 100%;
  border-radius: 8px;
  display: block;
  transition: transform 0.5s;
}

.layer{
  position: absolute;
  inset: 0;
  background: linear-gradient(rgba(0,0,0,0.3), #0ef);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 40px;

  opacity: 0;
  transform: translateY(100%);
  transition: all 0.5s ease;
}

.layer h5{
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}

.layer p{
  color: #fff;
  font-size: 1rem;
  line-height: 1.8;
}

.layer i{
  color: #ff004f;
  margin-top: 20px;
  font-size: 20px;
  background: #fff;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.row:hover img{
  transform: scale(1.1);
}

.row:hover .layer{
  opacity: 1;
  transform: translateY(0);
}

  .contact{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 3rem;
    padding-left: 30px;
    margin-top: 130px;
  }
  .contact-text h2{
    font-size: 90px;
    line-height: 1;
    text-align: center;
  }
  .contact-text h2 span{
    color: rgb(235, 12, 16);
  }
  .contact-text h4{
    font-size: 20px;
    font-weight: 600;
    margin: 15px 0;
    color: #fff;
  }
  
  
  .contact-list{
    margin-bottom: 3rem;
  }
  .contact-list li{
    margin-bottom: 10px;
    display: block;
  }
  .contact-list li{
    margin-bottom: 10px;
    display: block;
  }
  .contact-list i{
    display: inline-block;
    color: #0ef;
    font-size: 20px;
    font-weight: 600;
    transition: all .40s ease;
  }
  .contact-list li a:hover{
    color: #0ef;
    transform: scale(1.01) translateY(-5px);
  }
  .contact-icons i{
   display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #0ef;
  border-radius: 50%;
  font-size: 20px;
  color: #0ef;
  text-decoration: none;
  transition: 0.5s ease;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: calc(0.2s * var(--i));
  margin: 30px 15px 30px 0;
  }
  .contact-icons i:hover {
    background: #0ef;
    color: #000;
    box-shadow: 0 0 20px rgb(14, 235, 235);
  }
  .contact-form form{
    position: relative;
  }
  .contact-form input,form textarea{
    width: 90%;
    background: #555557;
    border: none;
    outline: none;
    padding: 18px;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
    color: #000;
    border-radius:0.5rem;
    
  }
  .contact-form textarea{
    height: 220px;
    resize: none;
  }
  .contact-form form .btn-box{
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40PX;
    font-size: 16PX;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #0ef,
      0 0 25px #0ef;
  }
  .contact-form form .btn-box:hover {
    box-shadow: 0 0 5px cyan,
      0 0 25px cyan, 0 0 50px cyan,
      0 0 100px cyan, 0 0 200px cyan;
  }
  footer{
    text-align: center;
    padding: 20px 0;
    background:#051129;
    margin-top: 50px;
  }.top{
    position: relative;
    bottom: 2.1rem;
    right: 2,1rem;
  }
  .top i{
    color: #000;
    font-size: 20px;
    background: #0ef;
    padding: 10px;
    border-radius: 0.5rem;
  }


 
  @keyframes showText {
    100%{
      opacity: 1;
    }
    
  }

  @keyframes slideRight {
    0% {
      opacity: 0;
      transform: translateX(-100px);
    }

    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  @keyframes slideLeft {
    0% {
      opacity: 0;
      transform: translateX(100px);
    }

    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  @keyframes slideTop {
    0% {
      opacity: 0;
      transform: translateY(100px);
    }

    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  @keyframes slideBottom {
    0% {
      opacity: 0;
      transform: translateY(-100px);
    }

    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }
 
 